<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Report
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" padding>

  <ion-list *ngFor="let job of listJobs">
    <ion-item-sliding _ngcontent-fsi-c3="" track="ionic" class="md hydrated">
      <ion-item >
        <ion-label>
          <h3>{{job.date_job_string}} - Snow - {{job.snow}}</h3>
          <p>
            Ice Malt h: {{job.icemelt_h}} &mdash; Shoviling h: {{job.shoviling_h}} &mdash; Plaw h: {{job.plaw_h}}
          <br />
            Ice Malt i: {{job.icemelt_i}} &mdash; Shoviling i: {{job.shoviling_i}} &mdash; Plaw i: {{job.plaw_i}}
          </p>
          <p>
            {{job.obs1}} 
          </p>
        </ion-label>
  
  <ion-item-option color="primary" (click)="editJob(job.id)">
    <small>
      <small>
        Edit
      </small>
    </small>
    <ion-icon slot="top" name="receipt-outline"></ion-icon>
  </ion-item-option>
  <ion-item-option color="danger" (click)="deleteJob(job.id, job.date_job_string, job.snow, job.obs)">
    <small>
      <small>
        Delete
      </small>
    </small>
    <ion-icon slot="top" name="trash"></ion-icon>
  </ion-item-option>
  

</ion-item>
</ion-item-sliding>
</ion-list>


</ion-content>
