<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> Form </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid>
    <ion-item class="drop-categoria" style="margin-bottom: 1%">
      <ion-label position="stacked">Date</ion-label>
      <ion-input
        name="date_job"
        id="date_job"
        value="date_job"
        type="date"
        required
        [(ngModel)]="date_job"
        style="background-color: '#red'"
      >
      </ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Snow ("):</ion-label>
      <ion-input 
      name="snow" 
      id="snow" 
      required
      [(ngModel)]="snow"></ion-input>
    </ion-item>

    <ion-row>
      <ion-col>
        <ion-item>
          <ion-label position="stacked">Shoviling (h):</ion-label>
          <ion-input
            type="number"
            name="shoviling_h"
            id="shoviling_h"
            [(ngModel)]="shoviling_h"
          ></ion-input>
        </ion-item>
      </ion-col>
      <ion-col>
        <ion-item>
          <ion-label position="stacked">Shoviling (")</ion-label>
          <ion-input
            type="number"
            name="shoviling_i"
            id="shoviling_i"
            [(ngModel)]="shoviling_i"
          ></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-item>
          <ion-label position="stacked">Ice Melt (h):</ion-label>
          <ion-input
            type="number"
            name="icemelt_h"
            id="icemelt_h"
            [(ngModel)]="icemelt_h"
          ></ion-input>
        </ion-item>
      </ion-col>
      <ion-col>
        <ion-item>
          <ion-label position="stacked">Ice Melt (")</ion-label>
          <ion-input
            type="number"
            name="icemelt_i"
            id="icemelt_i"
            [(ngModel)]="icemelt_i"
          ></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-item>
          <ion-label position="stacked">Plaw (h):</ion-label>
          <ion-input
            type="number"
            name="plaw_h"
            id="plaw_h"
            [(ngModel)]="plaw_h"
          ></ion-input>
        </ion-item>
      </ion-col>
      <ion-col>
        <ion-item>
          <ion-label position="stacked">Plaw (")</ion-label>
          <ion-input
            type="number"
            name="plaw_i"
            id="plaw_i"
            [(ngModel)]="plaw_i"
          ></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-item>
      <ion-label position="stacked">Obs:</ion-label>
      <ion-input name="obs" id="obs" [(ngModel)]="obs"> </ion-input>
    </ion-item>
    <div align='center'>
    <ion-button
      size="small"
      color="primary"
      class="pt-xs--4"
      ion-button
      (click)="insertJob()"
    >
      <ion-icon name="save"></ion-icon> Insert job into database
    </ion-button>
    </div>
  </ion-grid>
</ion-content>
